<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GAP Suite - Smoke Test" verbose="5">
    <test name="GAP.AutomationTests">

        <groups>
            <run>
                <include name="factory"/>
            </run>
        </groups>

        <classes>
            <class name="HomeTests.HomePageTest"/>
        </classes>
    </test>
</suite>